.Home {
  background: var(--c-background) url("/assets/img/bg-left.png");
  overflow: hidden;
  .header {
    width: 100%;
    margin-bottom: 145px;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 175px;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 5px;

        img {
          width: 100%;
        }
      }

      ul {
        display: flex;
        width: 35%;
        justify-content: inherit;

        li {
          a {
            color: var(--c-text);
            text-decoration: none;
          }

        }
      }
    }
  }

  .left {
    color: #fff;
    width: 55%;
    position: relative;
    //&:after{
    //  content: "";
    //  position: absolute;
    //  right: 0;
    //  background: var(--c-primary);
    //  width: 54vw;
    //  height: 140vh;
    //  z-index: -1;
    //  transform: rotate(45deg) translate(307px, -90px);
    //}
    h1 {
      font-size: 48px;
      font-weight: bold;
      position: relative;
      margin-bottom: 55px;
      line-height: 60px;

      &:after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 75px;
        height: 10px;
        background-color: var(--c-primary);
      }
    }

    p {
      line-height: 24px;
      margin-bottom: 40px;
      font-size: 14px;
    }

    a {
      svg {
        margin-left: 6px;
      }
    }
  }

  .right {
    width: 40%;
    padding-top: 30px;

    img {
      transform: scale(110%);
    }
  }

  @include media('<=mobile-l'){

    .wrapper {
      justify-content: center;
      .header {
        margin-bottom: 0;
        position: fixed;
        .navbar {
          margin: 0 2%;
          flex-wrap: nowrap;
          .logo {
            width: 100px;
          }
          ul {
            width: 65%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            li{
              a{
                font-size: 10px;
              }
            }
          }
        }
      }
      .left {
        margin: 50px auto 0 auto;
        width: 90%;
        h1 {
        font-size: 37px;
        }
      }
      .right {
        display: none;
      }
    }
  }
}
