.newcustomer-page {
  width: 100%;
  height: 100%;
  display: flex;

  .l-constrained {
    width: 100%;
    height: 100%;
    max-width: var(--s-constrained);
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn-header {
      a {
        font-size: 25px;
      }
    }
  }
  .nc-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nc-left {
    padding: 0 222px;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    h1 {
      font-size: 48px !important;
      max-width: 650px;
    }
    p {
      color: white;
    }

    .field {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      text-align: center;
    }
  }
  .nc-right {
    position: relative;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .credit-card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      animation: floatingCard 2s ease-in-out infinite;
      z-index: 2;
      pointer-events: none;
    }
    .credit-card-shadow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -10%, 0);
      animation: floatingShadow 2s ease-in-out infinite;
      z-index: 1;
      pointer-events: none;
    }
  }
}

@keyframes floatingCard {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  50% {
    transform: translate3d(-50%, -60%, 0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes floatingShadow {
  0% {
    transform: translate3d(-50%, -10%, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(-50%, -10%, 0) scale(0.95);
    filter: blur(5px);
    opacity: 0.6;
  }
  100% {
    transform: translate3d(-50%, -10%, 0) scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 1618px) {
  .newcustomer-page {
    .nc-left {
      padding: 0 100px;
      flex: 1;
    }
    .nc-right {
      flex: 1;
    }
  }
}
@media screen and (max-width: 1024px) {
  .newcustomer-page {
    .nc-right {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .newcustomer-page {
    .nc-left {
      padding: 0 32px;

      h1 {
        font-size: 34px !important;
        min-width: 40%;
      }
    }
  }
}
@media screen and (max-width: 291px) {
  .newcustomer-page {
    .nc-left {
      padding: 0 16px;

      h1 {
        font-size: 28px !important;
        min-width: 100%;
      }
    }
  }
}