.newCustomerTutorial {
  overflow-y: hidden;
  overflow-x: hidden;

  .pagesSlider {
    display: flex;
    width: calc(5 * 100vw);

    .page {
      width: 100vw;
      height: 100vh;
      padding: 5px;
      background-color: var(--c-background);
      color: var(--c-text);
    }

    .passwordChange {
      display: flex;
      position: relative;
      .previous {
        position: absolute;
        top: 25%;
        left: 25%;
      }
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        margin: 15px 0 65px 0;
        position: relative;
        &::after {
          content: "";
          width: 100px;
          height: 15px;
          background-color: var(--c-primary);
          position: absolute;
          left: 0;
          bottom: -35px;
        }
      }

      .left {
        form {
          margin: 0 20%;
        }
      }
      .right {

      }
    }
  }
}