<div class="field">
    <input v-else-if="type === 'password'" :id="name ? name : 'input'" class="password-field" type="password" :value="value" :placeholder="text" :disabled="disabled === true">

    <input v-else :id="name ? name : 'input'" :type="type ? type : 'text'" :value="value" :placeholder="text" :disabled="disabled === true">

    <ButtonComponent @click="togglePasswordVisibility" class="show-password" v-if="type === 'password'" color="secondary" iconClass="ri-eye-line"/>

    <div class="line"></div>
</div>