.e404 {
  display: flex;
  height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: var(--c-secondary) url("../img/bg-left.png");

    h1 {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      position: relative;
      margin-bottom: 35px;
      line-height: 60px;
    }

  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: var(--c-primary);
  }
}