.Dashboard {
  overflow: hidden;
  background: var(--primary-bg-color) url(../img/bg-left.png);
  .toaster {
    pointer-events: none;
    position: fixed;
    width: 20%;

    .toast {
      pointer-events: auto;
      height: 20%;
      background-color: #4BB543;
      color: #000000;
    }
  }
  .accounts {
    .account {
      color: #fff;
      border: 1px solid #000000;
    }
  }
}
