.Home {
  background: var(--primary-bg-color) url("../img/bg-left.png");
  overflow: hidden;
  padding-left: 100px;
}
@media screen and (max-width: 1440px){
  
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 425px){

}

