.Home {
  //TODO Modifier le style
  // + responsif
  background: var(--primary-bg-color) url("../img/bg-left.png");
  overflow: hidden;
  padding-left: 100px;
  .header {
    padding-top: 25px;
    margin-bottom: 125px;
    .navbar  {
      display: flex;
      justify-content: space-between;
      .logo {
        font-size: 36px;
        text-decoration: none;
        background-color: #fff;
        border-radius: 10%;
        width: 5%;
        display: flex;
        padding: 2px;
        img {
          width: 100%;
        }
      }
      ul {
        margin-right: 100px;
        display: flex;
        justify-content: space-between;
        width: 30%;
        li {
          display: flex;
          align-items: center;
          a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .left {
    h1 {
      position: relative;
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 45px;
      line-height: 60px;
    }
    h1::after {
      content: "";
      width: 74px;
      height: 8px;
      background: #00FFDD;
      position: absolute;
      bottom: -25px;
      left: 0;
    }
    p {
      color: #fff;
      font-size: 14px;
      margin-bottom: 30px;
      width: 45%;
      line-height: 17.64px;
    }
    a {
      width: 130px;
      text-decoration: none;
    }
  }
  .right {
    background: var(--secondary-bg-color);
    width: 55%;
    transform: rotate(-45deg) translate(100%, 655px) scale(1.5);
    position: relative;
    height: 100vh;
    img {
      position: absolute;
      transform: rotate(45deg) scale(0.75);
      left: 27%;
      top: -23%;
    }
  }
}
