.Login {
    form {
      margin: auto;
      width: 45%;
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 56px;
        position: relative;
      }
      h1::after {
        content: "";
        width: 74px;
        height: 8px;
        background: #00FFDD;
        position: absolute;
        bottom: -25px;
        left: 0;
      }
      input[type=text] {
        margin-top: 16px;
      }
      input[type=password] {
        margin-top: 32px;
      }
      .error {
        background: darkred;
        margin-top: 6px;
        padding: 4px;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
      }
      .passReset {
        margin-top: 16px;
        a {
          color: #fff;
          font-size: 12px;
        }
      }
      .submit {
        margin-top: 32px;
      }


  }
  .cardContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 45%;
  }

  .card {
    width: 70%;
    margin: 0 auto;
    position: relative;

  }

  .cardIMG {
    position: absolute;
    top: 35%;
    animation: card 3s infinite alternate;
  }

  .cardShadow {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: scale(0.9);

    animation: cardShadow 3s infinite alternate;
  }
}
@media screen and (max-width: 1440px) {
  .Login {
    .formContainer {
      form {
        width: 55%;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-15px)
  }
}

@keyframes cardShadow {
  0% {
    transform: scale(1.0)
  }
  100% {
    transform: scale(1)
  }
}
