.Login {
  background: var(--primary-bg-color);
  display: flex;
  flex-direction: row;
  user-select: none;

  .formContainer {
    padding: 25px;
    background: var(--secondary-bg-color) url("../img/bg-left.png");
    width: 55%;
    display: flex;
    .goHome {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 32px;
      margin-bottom: 16px;
      width: 20%;
      i {
        border: var(--primary-bg-color) solid 4px;
        border-radius: 25px;
        color: var(--primary-bg-color);
      }
    }
    form {
      margin: auto;
      width: 50%;
      opacity: 1;
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 56px;
        position: relative;
      }
      h1::after {
        content: "";
        width: 74px;
        height: 8px;
        background: #00FFDD;
        position: absolute;
        bottom: -25px;
        left: 0;
      }
      .noAccount {
        display: flex;
        gap: 5px;
        p {
          color: #fff;
          font-size: 12px;
          font-weight: normal;
        }
        a {
          color: #fff;
          font-size: 12px;
        }
      }
      input {
        background-color: transparent;
        border: none;
        border-bottom: 1px #818181 solid;
        color: #fff;
        width: 100%;
        outline: none;
        transition: 0.2s border-bottom;
      }
      input::placeholder {
        color: #818181;
      }
      input:focus {
        border: none;
        border-bottom: 1px #fff solid;
      }
      input[type=text] {
        margin-top: 16px;
      }
      input[type=password] {
        margin-top: 32px;
      }
      .error {
        background: darkred;
        margin-top: 6px;
        padding: 4px;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
      }
      .passReset {
        margin-top: 16px;
        a {
          color: #fff;
          font-size: 12px;
        }
      }
      .submit {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 5px 5px;
        background-color: #00FFDD;
        border-radius: 4px;
        margin-top: 32px;
        width: 150px;
        height: 35px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
      i {
        margin-left: 5px;
      }
    }
  }
  .cardContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 45%;
  }

  .card {
    width: 70%;
    margin: 0 auto;
    position: relative;

  }

  .cardIMG {
    position: absolute;
    top: 35%;
    width: 100%;
    animation: card 3s infinite alternate;
  }

  .cardShadow {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: scale(0.9);
    z-index: -1;
    animation: cardShadow 3s infinite alternate;
  }
}
@media screen and (max-width: 1440px) {
  .Login {
    .formContainer {
      form {
        width: 55%;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-15px)
  }
}

@keyframes cardShadow {
  0% {
    transform: scale(1.0)
  }
  100% {
    transform: scale(1)
  }
}
