
.NewCustomer {

  .newCustomerForm {
      width: 70%;
      padding: 10px 10px;
      margin: auto;
      display: flex;
      flex-direction: column;
    h1 {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 56px;
      position: relative;
    }

    h1::after {
      content: "";
      width: 74px;
      height: 8px;
      background: #00FFDD;
      position: absolute;
      bottom: -25px;
      left: 0;
    }
    input[type=text] {
      margin-top: 16px;
    }

    input[type=password] {
      margin-top: 32px;
    }

    .error {
      background: darkred;
      margin-top: 6px;
      padding: 4px;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
    }

    .passReset {
      margin-top: 16px;

      a {
        color: #fff;
        font-size: 12px;
      }
    }

    .submit {
      margin-top: 32px;
    }

  }
  }