nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /*.logo {
    width: 175px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;

    img {
      width: 100%;
    }
  }*/

  ul {
    display: flex;
    width: 35%;
    height: 80px;
    justify-content: inherit;
    align-items: center;

    li {
      a {
        color: var(--c-text);
        text-decoration: none;
      }

    }
  }
}
